@model BizonaRegistrs.Models.NewParticipantsModel
@{
    ViewBag.Title = "Dalībnieku pievienošana";
}

@using (Html.BeginForm("Index", "Participants", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <h2>Pievienot dalībnieku</h2>

    <br>

    if (TempData["Success"] != null)
    {
        <div>
            <div class="alert alert-success" role="alert">@TempData["Success"]</div>
        </div>
    }

    <div class="form-group">
        @Html.LabelFor(m => m.parName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.parName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.parSurname, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.parSurname, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.parBirthDate, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.parBirthDate, new { @type = "date",  @class = "form-control"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.parGender, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.parGender, new List<SelectListItem>{
                new SelectListItem{ Text="Vīrietis", Value="Male"},
                new SelectListItem{ Text="Sieviete", Value="Female"}
            }, "-- Izvēlies --", new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.parNumber, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.parNumber, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.parRaceTime, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.parRaceTime, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10" padding="top:20px">
            <input type="submit" class="btn btn-default" value="Pievienot dalībnieku" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}