@model BizonaRegistrs.Models.ParticipantsResultsModel
@{
    ViewBag.Title = "Rezultāti";
}

@using (Html.BeginForm("Results", "Participants", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{

    <h2>Rezultāti</h2>

    <br>

    <div class="form-group">
        @Html.LabelFor(m => m.choice, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.choice, new List<SelectListItem>{
                new SelectListItem{ Text="Kopvērtējums", Value="Sum"},
                new SelectListItem{ Text="1. posms", Value="1"},
                new SelectListItem{ Text="2. posms", Value="2"},
                new SelectListItem{ Text="3. posms", Value="3"},
                new SelectListItem{ Text="4. posms", Value="4"},
                new SelectListItem{ Text="5. posms", Value="5"},
                new SelectListItem{ Text="6. posms", Value="6"},
                new SelectListItem{ Text="7. posms", Value="7"},
                new SelectListItem{ Text="8. posms", Value="8"}
            }, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10" padding="top:20px">
            <input type="submit" class="btn btn-default" value="Apstiprināt" />
        </div>
    </div>

    <br>

    if (Model.choice == "Sum")
    {
        foreach (var ageGroup in Model.ageGroupList)
        {
            Model.place = 1;
            <h4>Vecuma grupa: @ageGroup</h4>
            <br>
            <table class="table table-hover table-striped">
                <tr>
                    <th>#</th>
                    <th>Vārds</th>
                    <th>Uzvārds</th>
                    <th>Numurs</th>
                    <th>Punkti</th>
                </tr>

                @foreach (var participant in Model.Participants)
                {
                    if (ageGroup.ToString() == participant.parAgeGroup)
                    {
                        <tr>
                            <td>@Model.place</td>
                            <td>@participant.parName</td>
                            <td>@participant.parSurname</td>
                            <td>@participant.parNumber</td>
                            <td>@participant.parPointsSum</td>
                        </tr>
                        Model.place++;
                    }
                }

            </table>
        }
    }

    else if (Model.choice == "1")
    {
        foreach (var ageGroup in Model.ageGroupList)
        {
            Model.place = 1;
            <h4>Vecuma grupa: @ageGroup</h4>
            <br>
            <table class="table table-hover table-striped">
                <tr>
                    <th>#</th>
                    <th>Vārds</th>
                    <th>Uzvārds</th>
                    <th>Numurs</th>
                    <th>1. posma laiks</th>
                    <th>1. posma punkti</th>
                </tr>

                @foreach (var participant in Model.Participants1)
                {
                    if (ageGroup.ToString() == participant.parAgeGroup)
                    {
                        <tr>
                            <td>@Model.place</td>
                            <td>@participant.parName</td>
                            <td>@participant.parSurname</td>
                            <td>@participant.parNumber</td>
                            <td>@participant.parRaceTime1</td>
                            <td>@participant.parPoints1</td>
                        </tr>
                        Model.place++;
                    }
                }

            </table>
        }
    }

    else if (Model.choice == "2")
    {
        foreach (var ageGroup in Model.ageGroupList)
        {
            Model.place = 1;
            <h4>Vecuma grupa: @ageGroup</h4>
            <br>
            <table class="table table-hover table-striped">
                <tr>
                    <th>#</th>
                    <th>Vārds</th>
                    <th>Uzvārds</th>
                    <th>Numurs</th>
                    <th>2. posma laiks</th>
                    <th>2. posma punkti</th>
                </tr>

                @foreach (var participant in Model.Participants2)
                {
                    if (ageGroup.ToString() == participant.parAgeGroup)
                    {
                        <tr>
                            <td>@Model.place</td>
                            <td>@participant.parName</td>
                            <td>@participant.parSurname</td>
                            <td>@participant.parNumber</td>
                            <td>@participant.parRaceTime2</td>
                            <td>@participant.parPoints2</td>
                        </tr>
                        Model.place++;
                    }
                }

            </table>
        }
    }

    else if (Model.choice == "3")
    {
        foreach (var ageGroup in Model.ageGroupList)
        {
            Model.place = 1;
            <h4>Vecuma grupa: @ageGroup</h4>
            <br>
            <table class="table table-hover table-striped">
                <tr>
                    <th>#</th>
                    <th>Vārds</th>
                    <th>Uzvārds</th>
                    <th>Numurs</th>
                    <th>3. posma laiks</th>
                    <th>3. posma punkti</th>
                </tr>

                @foreach (var participant in Model.Participants3)
                {
                    if (ageGroup.ToString() == participant.parAgeGroup)
                    {
                        <tr>
                            <td>@Model.place</td>
                            <td>@participant.parName</td>
                            <td>@participant.parSurname</td>
                            <td>@participant.parNumber</td>
                            <td>@participant.parRaceTime3</td>
                            <td>@participant.parPoints3</td>
                        </tr>
                        Model.place++;
                    }
                }

            </table>
        }
    }

    else if (Model.choice == "4")
    {
        foreach (var ageGroup in Model.ageGroupList)
        {
            Model.place = 1;
            <h4>Vecuma grupa: @ageGroup</h4>
            <br>
            <table class="table table-hover table-striped">
                <tr>
                    <th>#</th>
                    <th>Vārds</th>
                    <th>Uzvārds</th>
                    <th>Numurs</th>
                    <th>4. posma laiks</th>
                    <th>4. posma punkti</th>
                </tr>

                @foreach (var participant in Model.Participants4)
                {
                    if (ageGroup.ToString() == participant.parAgeGroup)
                    {
                        <tr>
                            <td>@Model.place</td>
                            <td>@participant.parName</td>
                            <td>@participant.parSurname</td>
                            <td>@participant.parNumber</td>
                            <td>@participant.parRaceTime4</td>
                            <td>@participant.parPoints4</td>
                        </tr>
                        Model.place++;
                    }
                }

            </table>
        }
    }

    else if (Model.choice == "5")
    {
        foreach (var ageGroup in Model.ageGroupList)
        {
            Model.place = 1;
            <h4>Vecuma grupa: @ageGroup</h4>
            <br>
            <table class="table table-hover table-striped">
                <tr>
                    <th>#</th>
                    <th>Vārds</th>
                    <th>Uzvārds</th>
                    <th>Numurs</th>
                    <th>5. posma laiks</th>
                    <th>5. posma punkti</th>
                </tr>

                @foreach (var participant in Model.Participants5)
                {
                    if (ageGroup.ToString() == participant.parAgeGroup)
                    {
                        <tr>
                            <td>@Model.place</td>
                            <td>@participant.parName</td>
                            <td>@participant.parSurname</td>
                            <td>@participant.parNumber</td>
                            <td>@participant.parRaceTime5</td>
                            <td>@participant.parPoints5</td>
                        </tr>
                        Model.place++;
                    }
                }

            </table>
        }
    }

    else if (Model.choice == "6")
    {
        foreach (var ageGroup in Model.ageGroupList)
        {
            Model.place = 1;
            <h4>Vecuma grupa: @ageGroup</h4>
            <br>
            <table class="table table-hover table-striped">
                <tr>
                    <th>#</th>
                    <th>Vārds</th>
                    <th>Uzvārds</th>
                    <th>Numurs</th>
                    <th>6. posma laiks</th>
                    <th>6. posma punkti</th>
                </tr>

                @foreach (var participant in Model.Participants6)
                {
                    if (ageGroup.ToString() == participant.parAgeGroup)
                    {
                        <tr>
                            <td>@Model.place</td>
                            <td>@participant.parName</td>
                            <td>@participant.parSurname</td>
                            <td>@participant.parNumber</td>
                            <td>@participant.parRaceTime6</td>
                            <td>@participant.parPoints6</td>
                        </tr>
                        Model.place++;
                    }
                }

            </table>
        }
    }

    else if (Model.choice == "7")
    {
        foreach (var ageGroup in Model.ageGroupList)
        {
            Model.place = 1;
            <h4>Vecuma grupa: @ageGroup</h4>
            <br>
            <table class="table table-hover table-striped">
                <tr>
                    <th>#</th>
                    <th>Vārds</th>
                    <th>Uzvārds</th>
                    <th>Numurs</th>
                    <th>7. posma laiks</th>
                    <th>7. posma punkti</th>
                </tr>

                @foreach (var participant in Model.Participants7)
                {
                    if (ageGroup.ToString() == participant.parAgeGroup)
                    {
                        <tr>
                            <td>@Model.place</td>
                            <td>@participant.parName</td>
                            <td>@participant.parSurname</td>
                            <td>@participant.parNumber</td>
                            <td>@participant.parRaceTime7</td>
                            <td>@participant.parPoints7</td>
                        </tr>
                        Model.place++;
                    }
                }

            </table>
        }
    }

    else if (Model.choice == "8")
    {
        foreach (var ageGroup in Model.ageGroupList)
        {
            Model.place = 1;
            <h4>Vecuma grupa: @ageGroup</h4>
            <br>
            <table class="table table-hover table-striped">
                <tr>
                    <th>#</th>
                    <th>Vārds</th>
                    <th>Uzvārds</th>
                    <th>Numurs</th>
                    <th>8. posma laiks</th>
                    <th>8. posma punkti</th>
                </tr>

                @foreach (var participant in Model.Participants8)
                {
                    if (ageGroup.ToString() == participant.parAgeGroup)
                    {
                        <tr>
                            <td>@Model.place</td>
                            <td>@participant.parName</td>
                            <td>@participant.parSurname</td>
                            <td>@participant.parNumber</td>
                            <td>@participant.parRaceTime8</td>
                            <td>@participant.parPoints8</td>
                        </tr>
                        Model.place++;
                    }
                }

            </table>
        }
    }
}